{{ partial "header.html" . }}
<section id="article-listing">
      <ol class="post-list">
        {{ $pag := .Paginate .Data.Pages }}
        {{ range $pag.Pages }}
        <span class="article-title"><a href="{{ .Permalink }}">{{ .Title }}</a></span>
        <span class="article-info">
            on <strong>{{ .Date.Format "Mon, Jan 02, 2006" }}</strong> by <strong>{{ .Site.Author.name }}</strong>
        </span>
        {{ end }}
    </ol>

    <div class="post-navigation">
      {{ template "_internal/pagination.html" . }}
    </div>
</section>

{{ partial "footer.html" . }}
