{{ partial "header.html" . }}
<div class="section">
  <div class="container">
    <div class="row" style="margin-top:1.5em;">
      <ol class="post-list">
        {{ $pag := .Paginate .Data.Pages }}
        {{ range $pag.Pages }}
        <li><span class="article-title"><a href="{{ .Permalink }}">{{ .Title }}</a></span>
        <span class="article-info">
            on <strong>{{ .Date.Format "Mon, Jan 02, 2006" }}</strong>
        </span></li>
        {{ end }}
      </ol>

    <div class="post-navigation">
      {{ template "_internal/pagination.html" . }}
    </div>
  </div>
</div>
</div>
{{ partial "footer.html" . }}
